<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated component_based -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mdsd.component_based.presentation.Component_basedModelWizardID"
            name="%_UI_Component_basedModelWizard_label"
            class="mdsd.component_based.presentation.Component_basedModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Component_basedModelFile.gif">
         <description>%_UI_Component_basedModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated component_based -->
      <editor
            id="mdsd.component_based.presentation.Component_basedEditorID"
            name="%_UI_Component_basedEditor_label"
            icon="icons/full/obj16/Component_basedModelFile.gif"
            extensions="component_based"
            class="mdsd.component_based.presentation.Component_basedEditor"
            contributorClass="mdsd.component_based.presentation.Component_basedActionBarContributor">
      </editor>
   </extension>

</plugin>
